body{ 
    padding-top: 1em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 1em;
    display:flex;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   align-items: center;
   justify-content: center;
    
   background-color: rgb(132, 197, 175);
}

h1{
   text-align: center;
   text-decoration: 2px solid underline;
   color:rgb(59, 3, 57);
   font-family: sans-serif;
}
h3{
   text-align: left;
   text-decoration: 1px solid ;
   color:mediumvioletred
}
label{
   color:rgb(109, 62, 1);
   display: block;
   margin-bottom: 0.75em;
   font-size: 1.1em;
   font-weight: bold; 
   width: fit-content;
   box-sizing: border-box;

} 
textarea{
   height:130px;
   border-radius: 15px;
}
input[type="text"],input[type="email"],input[type="url"],textarea{
width: 100%;
padding: 1.8em;
margin-top: 0.5em;
border-color:brown;
border-style:solid 2px;
box-sizing:border-box;

}
#information, #education,#experience, #skills{
 
   border-color:purple;
   border-style: 4px solid;
   border-style:ridge;
   width:600px

}

#generateForm{
   background-color:rgb(243, 242, 241);
   color:rgb(220, 15, 15);
   height: 40px;
   width:90px
}
.hidden{
    display:none
}
#ResumePage img{
width:170px;
height: 170px;
object-fit: cover;
border-radius: 50%;
display: block;
border : 4px solid black
}